@font-face {
  font-family: 'Coolvetica';
  src: url('../fonts/coolvetica-condensed.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

.modesto {
  font-family: "Coolvetica", serif;
}

.dnd5e .form-header {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet .sheet-header .header-details {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet .sheet-navigation {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet .items-list .items-header h3 {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet.actor h4.box-title {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet.actor ul.attributes li.attribute .attribute-value {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet.actor .ability-scores {
  font-family: "Coolvetica", serif;
}

.dnd5e.chat-card .card-header h3 {
  font-family: "Coolvetica", serif;
}

.dnd5e.sheet.actor.character .characteristics label {
  font-family: "Coolvetica", serif;
}
